{% extends 'core/base.html' %}'

{% block cabecalho %} Store {% endblock cabecalho %}

{% block content %}

<!-- Page Heading -->

{% if messages %}

{% for message in messages %}

<div class="alert alert-danger">
  {{ message|slice:":0" }}
</div>

{% endfor %}

{% endif %}

<!--CAMPOS DE BUSCA-->
<form method="post" action=".">
  {% csrf_token %}

  <div class="input-group">

    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
    <input type="text" name="valor" placeholder="Nome ou Numero" class="form-control">


  </div>
</form>
<!--FIM CAMPOS DE BUSCA-->

<br>
<br>

<div class="row">

  <div class="col-lg text-center">

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Nome da Loja</th>
            <th scope="col">Ramo de autação</th>
            <th scope="col">Descrição</th>
            <th scope="col">Contato</th>
            <th scope="col">Slug</th>

          </tr>
          </thead>

          {% for store in stores %}

            <tbody>
              <tr>
                <td><a href="{% url 'core:detail' store.slug %}">{{ store.nome }}</a></td>
                <td>{{ store.ramo_atuacao }}</td>
                <td>{{ store.descricao }}</td>
                <td>{{ store.contato }}</td>
                <td>{{ store.slug }}</td>

              </tr>

            </tbody>
          {% endfor %}
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>

    <!-- /.panel-body -->
  </div>
</div>
<!-- /.row -->


{% endblock content %}

